body {
    background-color: rgb(255, 255, 255);
}
table {
    justify-content: center;
}

th {
    padding: 10px;
    width: 10px;
    background-color: aliceblue;
    border-radius: 0%;
    border-color: 10px rgb(0, 0, 0);
    border-style: solid;
    margin: 50%

}
th.empty {
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

th.pNum {
    font-size: small;

}
th.pName {
    font-size: ;
}
.header-row {
    display: flex;
    align-items: center;
  
  img.periodic-image {
    width: 10%;
    max-width: 400px;
    height: auto;
  }
  